/*首页*/
.section{
    width:100%;
    position: relative;
    z-index: 50;
    padding-bottom: 50px;
    display: block;
}
.section>.w{
    width: 1000px;
    margin: 0 auto;
}
/*第一部分*/
.adver-nav{
    padding: 5px;
    height: 84px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 50px;
    background-color: rgba(0, 27, 60, 0.68);
}
.adver-nav>.w{
    height: 100%;
}
.adver-nav-box{
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;
}
.adver-nav-box>a{
    color: #9c9d9f;
    padding: 10px;
    width: 150px;
    background-color: #fff;
    border-radius: 4px;
}
.adver-nav-box>a>h2{
    font-size: 14px;
    padding-bottom: 3px;
}
.adver-nav-box>a>div{
    font-size: 1px;
}
.adver-nav-box>a.current{
    color: #fff;
    background-color: #02d0a7;
}
.adver-banaer{
    margin-top: 35px;
    height: 500px;
    color: #39424f;
    padding-bottom: 0;
    background: -webkit-linear-gradient(left,#009cff 0%,#009cff 50%,#39424f 50%);
    background: -moz-linear-gradient(left,#009cff 0%,#009cff 50%,#39424f 50%);
    background: -o-linear-gradient(left,#009cff 0%,#009cff 50%,#39424f 50%);
    background: linear-gradient(left,#009cff 0%,#009cff 50%,#39424f 50%);
}
.adver-banaer>.w{
    height: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left top,#009cff 0px,#009cff 700px,#39424f 700px);
    background: -moz-linear-gradient(left top,#009cff 0px,#009cff 700px,#39424f 700px);
    background: -o-linear-gradient(left top,#009cff 0px,#009cff 700px,#39424f 700px);
    background: linear-gradient(left top,#009cff 0px,#009cff 700px,#39424f 700px);
}
.adver-content{
    font-family: "zaozi";
}
.adver-content>h1{
    color: #ffffff;
    font-size: 24px;
    font-weight: 100;
}
.adver-content>p{
    font-size: 18px;
    line-height: 2em;
    color: #fff;
}
.adver-develop{
    padding-top: 100px;
}
.adver-title{
    margin-bottom: 50px;
}
.adver-title>h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.adver-title>div{
    font-size: 14px;
    color: #636c7b;
}
.adver-title .adver-line-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.adver-line-box>.h-line{
    width: 45%;
    height: 0;
    border: 1px solid #e3e3e3;
}
.adver-line-box>.dot{
    width: 10%;
    text-align: center;
    color: #3c3c3c;
}
.adver-title>p:last-child{
    color: #888888;
    font-size: 12px;
}
.adver-develop .adver-btn{
    display:block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #019cff;
}
.adver-parts>.adver-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.adver-parts>.adver-part>.adver-pic{
    width: 300px;
    height: 140px;
    border: 1px solid #e8e8e8;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adver-pic>p{
    position: relative;
    left: -25px;
}
.adver-pic>ul>li{
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    color: #999999;
}
.adver-media{
    padding-top: 80px;
    height: 500px;
    background: url("../images/advertiser/hm_bg.png") no-repeat 0 0;
    background-size:100%;
}
.adver-media-parts{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.adver-media-parts img{
    display: block;
}
.adver-media-parts img.big{
    width: 236px;
    height: 236px;
}
.adver-media-parts .column{
    display: flex;
    flex-direction:column;
}
.adver-media-parts .column img.small{
    width:118px;
    height: 118px;
}
/* entire container, keeps perspective */
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 118px;
    height: 118px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.adver-brand{
    margin-top: 80px;
    margin-bottom: 100px;
}
.adver-brand-parts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adver-brand-parts>.adver-brand-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    color: #ffffff;
}
.adver-brand-part>h2{
    font-size: 16px;
    margin-bottom: 20px;
}
.adver-brand-part>p{
    font-size: 14px;
}
.adver-brand-parts>.adver-brand-part:nth-child(1){
    background: #5079a7;
}
.adver-brand-parts>.adver-brand-part:nth-child(2){
    background: #635bb0;
}
.adver-brand-parts>.adver-brand-part:nth-child(3){
    background: #49a78d;
}
.adver-brand-parts>.adver-brand-part:nth-child(4){
    background: #1a406d;
}
.adver-case{
    height: 600px;
    background: #7b89a4;
}
.adver-case>.w{
    position: relative;
}
.adver-case-title{
    padding-top: 80px;
    margin-bottom: 100px;
    color: #ffffff;
}
.adver-case-title>h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.adver-case-title>div{
    font-size: 14px;
}
.adver-case-box{
    overflow: hidden;
    position: relative;
    height: 300px;
}
.adver-case-turns{
    width: 300%;
    position:absolute;
    left:0;
    top:0;
    height:300px;
}
.adver-case-desc{
    float: left;
}
.adver-case-desc>img{
    display: block;
}
.adver-case-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    color: #ffffff;
}
.adver-case-desc>.adver-case-text{
    width: 500px;
    height: 300px;
}
.adver-case-text>h1{
    padding-bottom: 30px;
}
.adver-case-text>div>p{
    line-height: 24px;
}
.adver-case-text>a{
    margin-top: 20px;
    display: inline-block;
    padding:5px;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #ffffff;
}
.adver-case>.w>.arrow{
    position: absolute;
    top:360px;
    z-index: 2;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0,0,0,.3);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.adver-case>.w>.arrow:hover{
    background-color: rgba(0,0,0,.7);
}
#prev{
    left: -60px;
}
#next{
    right: -60px;
}
/*第一部分结束*/
/*页脚*/
.footer{
    height: 120px;
    background-color: #54667b;
    color: #ffffff;
}
.footer-parts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.footer>.w>p{
    padding-top: 20px;
    font-size:12px;
}
/*页脚结束*/