/*首页*/
.section{
    width:100%;
    position: relative;
    z-index: 50;
    padding-bottom: 50px;
    display: block;
}
.section>.w{
    width: 1000px;
    margin: 0 auto;
}
/*第一部分*/
.agent-banner{
    padding-top:50px;
    width: 100%;
}
.agent-content>.w{
    font-size:14px;
    color: #a1a1a1;
    line-height: 2em;
}
.agent-content .ti5>p{
    text-indent: 5em;
}
.agent-content .ti12>p{
    text-indent: 12em;
}
.agent-content .mt20{
    margin-top: 20px;
}
.index-title{
    text-align: center;
}
.agent-title>h1{
    color:#6189a9;
    font-weight: 100;
}
.agent-title>div{
    color:#BDC2C5;
}
.agent-img-box{
    width: 100%;
    height: 642px;
    margin-top: 50px;
    background: url("../images/computer.png") no-repeat 0 0;
    background-size: 100% 100%;
    padding: 80px;
}
.agent-img-box>.img{
    display: inline-block;
    margin:0px 44px;
    width: 180px;
    height: 90px;
    cursor: pointer;
    -webkit-transition: background-image .1s ease-in;
    -moz-transition: background-image .1s ease-in;
    transition: background-image .1s ease-in;
}
.agent-img-box>.img:nth-child(1){
    background-image: url("../images/agent/talking-date_灰.jpg");
}
.agent-img-box>.img:nth-child(1):hover{
    background-image: url("../images/agent/talking-date.jpg");
}
.agent-img-box>.img:nth-child(2){
    background-image: url("../images/agent/乐视_灰.jpg");
}
.agent-img-box>.img:nth-child(2):hover{
    background-image: url("../images/agent/乐视.jpg");
}
.agent-img-box>.img:nth-child(3){
    background-image: url("../images/agent/京东_灰.jpg");
}
.agent-img-box>.img:nth-child(3):hover{
    background-image: url("../images/agent/京东.jpg");
}
.agent-img-box>.img:nth-child(4){
    background-image: url("../images/agent/今日头条_灰.jpg");
}
.agent-img-box>.img:nth-child(4):hover{
    background-image: url("../images/agent/今日头条.jpg");
}
.agent-img-box>.img:nth-child(5){
    background-image: url("../images/agent/优酷_灰.jpg");
}
.agent-img-box>.img:nth-child(5):hover{
    background-image: url("../images/agent/优酷.jpg");
}
.agent-img-box>.img:nth-child(6){
    background-image: url("../images/agent/墨迹天气_灰.jpg");
}
.agent-img-box>.img:nth-child(6):hover{
    background-image: url("../images/agent/墨迹天气.jpg");
}
.agent-img-box>.img:nth-child(7){
    background-image: url("../images/agent/爱奇艺_灰.jpg");
}
.agent-img-box>.img:nth-child(7):hover{
    background-image: url("../images/agent/爱奇艺.jpg");
}
.agent-img-box>.img:nth-child(8){
    background-image: url("../images/agent/秒针_灰.jpg");
}
.agent-img-box>.img:nth-child(8):hover{
    background-image: url("../images/agent/秒针.jpg");
}
.agent-img-box>.img:nth-child(9){
    background-image: url("../images/agent/网易游戏_灰.jpg");
}
.agent-img-box>.img:nth-child(9):hover{
    background-image: url("../images/agent/网易游戏.jpg");
}
.agent-img-box>.img:nth-child(10){
    background-image: url("../images/agent/腾讯游戏_灰.jpg");
}
.agent-img-box>.img:nth-child(10):hover{
    background-image: url("../images/agent/腾讯游戏.jpg");
}
.agent-img-box>.img:nth-child(11){
    background-image: url("../images/agent/蘑菇街_灰.jpg");
}
.agent-img-box>.img:nth-child(11):hover{
    background-image: url("../images/agent/蘑菇街.jpg");
}
/*第一部分结束*/
/*页脚*/
.footer{
    height: 120px;
    background-color: #54667b;
    color: #ffffff;
}
.footer-parts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.footer>.w>p{
    padding-top: 20px;
    font-size:12px;
}
/*页脚结束*/