/*首页*/
.section{
    width:100%;
    position: relative;
    z-index: 50;
    padding-bottom: 50px;
    display: block;
}
.section>.w{
    width: 1000px;
    margin: 0 auto;
}
/*第一部分*/
.brief-nav{
    padding: 5px;
    height: 84px;
    position: fixed;
    left: 0;
    top: 50px;
    z-index: 100;
    background-color: rgba(0, 27, 60, 0.68);
}
.brief-nav-box{
    margin: 0 auto;
    width: 530px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;
}
.brief-nav-box>a{
    color: #9c9d9f;
    padding: 10px;
    width: 150px;
    background-color: #fff;
    border-radius: 4px;
}
.brief-nav-box>a>h2{
    font-size: 14px;
    padding-bottom: 3px;
}
.brief-nav-box>a>div{
    font-size: 1px;
}
.brief-nav-box>a.current{
    color: #fff;
    background-color: #02d0a7;
}

.brief-banaer{
    font-family: zaozi;
    margin-top: 50px;
    padding-top: 50px;
    height: 500px;
    background: url("../images/jiajie_bg.png") no-repeat 0 0;
    background-size:100% 100%;
}
.brief-banaer>.w{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brief-banaer p{
    width: 800px;
    font-size: 18px;
    line-height: 2em;
    text-align: center;
    color: #fff;
}
.brief-develop{
    padding-top: 100px;
}
.brief-title{
    margin-bottom: 50px;
}
.brief-title>p:first-child{
    font-weight: bold;
    font-size: 16px;
}
.brief-title>p:first-child>span:first-child{
    color: #70b7fa;
}
.brief-title .brief-line-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.brief-line-box>.h-line{
    width: 45%;
    height: 0;
    border: 1px solid #e3e3e3;
}
.brief-line-box>.dot{
    width: 10%;
    text-align: center;
    color: #3c3c3c;
}
.brief-title>p:last-child{
    color: #888888;
    font-size: 12px;
}
.brief-develop .brief-btn{
    display:block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #019cff;
}
.brief-parts{
    position: relative;
}
.brief-parts .v-line{
    position: absolute;
    z-index: 1;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 1px;
    height: 100%;
    border:1px solid #e3e3e3;
}
.brief-part>.brief-pic-box{
    position: relative;
    height: 500px;
}
.brief-pic-box>.brief-pic{
    position: absolute;
    width: 212px;
    padding: 5px;
    border: 1px solid #e8e7e7;
}
.brief-pic-box>.brief-pic-left{
    left: 250px;
    top: 200px;
}
.brief-pic-box>.brief-pic-right{
    left: 538px;
    top: 40px;
}
.brief-pic>h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.brief-pic>p{
    font-size: 10px;
    color: #939393;
}
.brief-pic>p:first-of-type{
    text-indent: 2em;
    line-height: 16px;
    padding-bottom: 10px;
    color: #888888;
}
.brief-pic-left:after{
    content: "";
    position: absolute;
    z-index: 3;
    right: -44px;
    top: 70px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #089afd;
}
.brief-pic-right:after{
    content: "";
    position: absolute;
    z-index: 3;
    left: -44px;
    top: 70px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #089afd;
}



/*第一部分结束*/
/*页脚*/
.footer{
    height: 120px;
    background-color: #54667b;
    color: #ffffff;
}
.footer-parts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.footer>.w>p{
    padding-top: 20px;
    font-size:12px;
}
/*页脚结束*/