@font-face {
    font-family: "zaozi";
    src:url("font/zhaozi_20170508114539.svg"),
    url("font/zhaozi_20170508114539.otf"),
    url('font/zhaozi_20170508114539.ttf'),
    url("font/zhaozi_20170508114539.woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    font-family:"zaozi";
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.tc{
    text-align: center;
}
.tl{
    text-align: left;
}
/*导航条部分*/
.nav{
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    height:50px;
    background-color: rgb(74, 97, 104);
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items: center;
}
.nav>.logo-box{
    width:600px;
    float: left;
}
.nav>.logo-box>.logo{
    margin-left: 10px;
    margin-right: 10px;
}
.nav>.logo-box img{
    height: 26px;
}
.navbar-nav{
    float: right;
    width:800px;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}
.navbar-nav>li{
    float: left;
    width: 120px;
    height: 100%;
    min-width: 80px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav>li.current>a{
    color:#1ba4e9;
}
.navbar-nav>li.current{
    border-bottom:5px solid #1ba4e9;
}
.navbar-nav>li:hover{
    background-color: #1ba4e9;
}
.navbar-nav>li:not(.dropdown){
    text-align: center;
}
.navbar-nav>li:not(:last-child):after{
    content:"";
    display: inline-block;
    box-sizing: content-box;
    width:1px;
    height:16px;
    margin-left: 20px;
    background-color: #2a3e4c;
}
.dropdown{
    position: relative;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    display: none;
    position: absolute;
    z-index: 1000;
    top:100%;
    left:0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #69665b;
    border-top:5px solid #6c808e;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.dropdown-menu>li{
    height:25px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.dropdown-menu>li>a{
    font-family: "Microsoft YaHei";
}
.dropdown-menu>li:hover{
    background-color: #69665b;
}
.dropdown-menu>li:hover>a{
    color: #ffffff;
}
.dropdown-menu>li>a{
    color: darkgray;
}
.caret{
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed #6c808e;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.caret:before{
    content: '';
    display: inline-block;
    position: absolute;
    top: -6px;
    left: -4px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed #4a6168;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.navbar-nav>li>a{
    font-family: "Microsoft YaHei";
    color: #ffffff;
    display: inline-block;
    width: 60px;
}
/*导航条部分结束*/